@import "scss/settings/mixins";
@import "scss/settings/variables";

.chose-us {
  background-color: map-get($colors, background-for-benefits);
}

.chose-us-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  padding-top: 30px;

  article {
    background-color: map-get($colors, main-white);
    display: grid;
    place-content: center;
    place-items: center;
    border-radius: 6px;
    padding-inline: 30px;
    padding-block: 50px;
    text-align: center;
    @include tablet {
      text-align: left
    }

    &:last-of-type {
      padding-inline: 0;
      padding-block: 0px;
    }

    img {
      max-height: 300px;
      padding-block: 30px;
      width: 100%;
    }

    .trumpet {
      padding-inline: 30px;
      padding-top: 20px;

      p {
        padding-bottom: 20px;
      }

      @include tablet {
        padding-inline: 30px;
      }
    }

    @include tablet {
      grid-template-columns: 1fr 1fr;
      &:last-of-type {
        grid-template-columns: 1.75fr  0.25fr 1fr;
      }
      .macbook-img-container {
        order: 2;
      }
    }

    .txt-container {
      max-width: 500px;
      width: 100%;

      h2 {
        font-size: 3em;
        padding-bottom: 20px;
        padding-top: 20px;
      }

      p {
        font-size: 1.4em;
        font-family: $secondary-font;
      }

      @include tablet {
        p {
          font-size: 1.5em;
          padding-bottom: 30px;
          border-bottom: 3px solid;
          max-width: 80%;

          &.--macbook_accent {
            border-color: map-get($colors, red-primary)
          }

          &.--iphone_accent {
            border-color: map-get($colors, blue-primary)
          }

          &.--trumpet_accent {
            border-color: map-get($colors, green-primary)
          }
        }
      }
    }
  }
}

.trumpet-inner {
  background-color: map-get($colors, background-for-benefits);
  height: 100%;
  width: 100%;
}

.trumpet-img-container {
  background-color: map-get($colors, green-primary);
  display: grid;
  justify-self: normal;

  img {
    margin-top: 80px;
    object-fit: contain;
  }
}

.macbook__img {
  position: relative;
  z-index: 1000;
}

.macbook-img-container {
  position: relative;

  &::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: map-get($colors, red-primary);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    &::before {
      transform: rotate(45deg) scale(1.2);
    }
  }
}


.iphone__img {
  position: relative;
}

.iphone-img-container {
  position: relative;

  &::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: map-get($colors, blue-primary);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: -20px;
    transform: rotate(45deg);
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    &::before {
      transform: rotate(45deg) scale(1.1);
    }
  }
}
